@import '@/styles/fonts';
@import '@/styles/variables';

.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 136px;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (max-width: 1240px) {
  .header {
    flex-wrap: wrap;
    height: fit-content;
    gap: 8px;
  }
}
